.navigation {
    margin: 20px;
    margin-bottom: 30px;
    background-color: #e098a448;
    border-radius: 20px;
}

.navigation__unorderedList {
    list-style-type: none;
    text-align: center;
    line-height: 2;
}

.navigation__link {
    color: black;
    text-decoration: none;
}

.navigation__link:visited {
    color: black;
}

.navigation__link:hover {
    color: black;
    border-bottom: 1px solid;
    font-weight: bold;
}

.navigation__link:active {
    font-size: 115%;
}