.section__heading {
    background-color: #07818198;
    color: #faebd7;
    text-align: center;
    border-radius: 20px;
}

.section__heading:hover {
    background-color: #e098a4;
}

.section__div {
    background-color: rgba(228, 27, 27, 0.497);
    color: black;
    width: 400px;
    height: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    font-style: italic;
    text-align: center;
}

.section__div:hover {
    background-color: rgba(228, 27, 27, 0.497);
    width: 420px;
    height: 40px;
    font-weight: bold;
}

.section__span {
    text-decoration: underline;
}

.section__image {
    border-radius: 20px;
    box-shadow: 5px -5px 5px 0px #E098A4;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    box-shadow: 5px -5px 5px 0px #07818198;
    object-fit: cover;
}

.section__image:hover {
    box-shadow: 5px -5px 5px 0px #E098A4;
}