$nav-bgc: #078181;
$bgcolor: rgba(21, 152, 152, 0.145);
$secondary-color: #078181d2;
$secondary-special: #194242;
$pure-white: #fff;
$light-white: #eee;
$complementary: #810707;
$gradient: #1da39f 0%, rgba(25, 113, 103, 0.533) 74%;