@import "./reset";
@import "./colors";

.nav {
  position: sticky;
  top: 0;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: $nav-bgc;
  z-index: 100;

  &__wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
  }

  &__button {
    display: block;
    padding: 0 30px;
    margin-left: auto;
    line-height: 60px;
    font-size: 30px;
    border: none;
    cursor: pointer;
  }

  &__items {
    display: none;
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: $pure-white;
    transition: color 0.3s, font-size 0.3s;

    &:hover {
      font-size: 1.8rem;
      color: $complementary;
    }
  }
}
