@import "./colors";


.section__diploms {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.diploms__card {
  position: relative;
  margin: 20px 80px;
  width: 450px;
  height: 700px;
  perspective: 800px;
}

.diploms__card:hover .diploms__text {
  transform: rotate(0);
  opacity: 1;
}

.diploms__card:hover .diploms__img--one {
  transform: rotateX(180deg);
  opacity: 0;
}

.diploms__img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  transition: 1s;

  &--one {
    background-image: url("/images/norway-g09c6b3c29_640.jpg");
  }
}

.diploms__text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  text-align: center;
  border-radius: 15px;
  background-image: linear-gradient(315deg, $gradient);
  transition: 0.8s;
  opacity: 0;

  &--one {
    transform: rotateX(-180deg);
  }
}
