@import "./colors";

.section {
  scroll-margin-top: 65px;
  margin: 60px auto;
  width: 100%;
  max-width: 1200px;

  &__title {
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    color: $light-white;
    background-color: $secondary-color;
  }

  &__paragraf {
    padding: 0 10px;
    margin-bottom: 10px;
    font-size: 1.6rem;
    // zmienić w media
  }

  &__heading {
    font-size: 1.6rem;
  }

  &__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 35px;
    font-size: 1.6rem;
    text-align: center;
    color: $pure-white;
    background-color: $complementary;
    transition: width 0.3s, height 0.3s;

    &:hover {
      width: 420px;
      height: 40px;
    }
  }

  &__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    box-shadow: 5px -5px 5px 0px $secondary-special;
    object-fit: cover;

    &--special {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 800px;
      width: 100%;
      box-shadow: 5px -5px 5px 0px $secondary-special;
      object-fit: cover;
    }
  }

  &__contact {
    text-align: center;
  }

  &__link {
    position: relative;
    z-index: 0;

    &::after,
    &::before {
      transition: 0.5s;
    }
  }

  &__link::after {
    content: "";
    position: absolute;
    height: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: $secondary-color;
    z-index: -1;
  }

  &__link:hover::after {
    height: 100%;
  }

  &__link:hover::after {
    height: 100%;
  }

  &__specialParagraf {
    margin-top: 50px;
    padding: 50px;
    color: $pure-white;
    list-style-position: inside;
    border: 1px solid $complementary;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  }
  
  &__specialList {
    list-style: none;
  
    &--item {
      padding: 20px;
      font-size: 1.8rem;
    }
  }
}

.list__title {
  margin-top: 50px;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
}

.list__items {
  margin: auto;
  max-width: 500px;
  width: 100%;
  line-height: 40px;
  font-size: 2rem;
}
