@import "./reset";
@import "./colors";

body {
  background-color: $bgcolor;
}

.main {
  margin: 60px 0;
}

@media (min-width: 768px) {
  .nav__items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .header {
    height: 400px;
    background-image: url(/./images/norway-g6ec0d7579_1920.jpg);
  }

  .header__heading {
    font-size: 3.6rem;
  }

  .heading__text {
    font-size: 1.8rem;
  }
  .nav__button {
    display: none;
  }
  .header__text {
    font-size: 2.4rem;
  }
  .table__cell {
    padding: 25px;
  }

  @media (min-width: 1200px) {
    .header__heading {
      font-size: 4.2rem;
    }

    .heading__text {
      font-size: 2rem;
    }

    .section__tile {
      font-size: 3.6rem;
    }
  }
}
