@import "./colors";

.table {
  margin: 0 auto;
  max-width: 100%;
  min-width: 500px;
  font-size: 1.6rem;

  &__caption {
    text-align: right;
    caption-side: bottom;
    font-style: italic;
  }

  &__cell {
    padding: 7px;
    text-align: center;
    border: 1px solid $secondary-special;

    &--header {
      border: 1px solid $pure-white;
      color: $pure-white;
      background-color: $secondary-color;
    }
  }
}
